.report_content_outer {
    box-shadow: 2px 3px 10px #e4dede;
    border-radius: 6px;
    padding: 24px;
    min-height: 100%;
    /* height: calc(100vh - 111px); */
}
.zone_outer {
    display: flex;
    gap: 10px;
}
.zone_content_wrapper{
    background: #F4F4F4;
    padding: 24px;
    width: 332px;
    border-radius: 6px;
}
.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adjust_text {
    padding: 20px 20px 0px;
}
.zone_inner_content {
    display: flex;
    justify-content: space-between;
}
.report_zone_heading{
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    line-height: 21px;
    color: #4B465C;
    margin-bottom: 0px !important;
}
.plan_note_outer {
    border: 1px solid #7367F0;
    padding: 24px;
    width: 332px;
}
.ground_floor_outer {
    justify-content: space-between;
    border-top: 1px solid #DBDADE;
    padding-top: 8px;
}
.legend_outer{
    border-radius: 6px;


}
/* .legend_list  li{
    padding: 20px 20px 0px;
} */
.legend_list .zone_content_wrapper{
    width: 100%;
}
.legend_list li:first-child{
    padding-bottom: 20px;
}
.legend_list li:last-child{
    padding-bottom: 20px;
}
.report_outer{
    overflow: hidden;
   
}
.legend_list li:nth-child(2) {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
.legend_list li p{
    color : #4B465C;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0px !important;
    font-family: "Public Sans", sans-serif;
}
.confirm_submit_btn {
    padding: 10px 20px;
    font-size: 15px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
}
.report_response_outer{
    height: 500px;
    overflow-y: scroll;
    
}

.report_diagram{
    height: 440px;
    width: 440px;
    object-fit: contain;
}
.loading_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.report_outer .dashboard_plan_heading {
    padding-bottom: 0px;
}
.plan_name_heading{
    font-size: 24px;
    padding-left: 20px;
    margin-top: 10px;
}
.imageloading_container{
height: calc(100vh - 11rem);
}
@media screen and (max-width:991px){
    .report_content_outer {
        margin-top: 25px;
    }
    .report_diagram{
        width: 100%;
        height: 100%;
    }
    .zone_content_wrapper {
        width: 100%;
    }
    .zone_outer {
        flex-wrap: wrap;
    }
    .confirm_submit_btn{
    padding: 6px 15px;
    font-size: 14px;
    }
    .report_content_outer{
        padding: 20px;
    }
    /* .legend_outer{
        padding: 20px;
    } */
}

 @media screen and (max-width:767px){
    .zone_content_wrapper {
        padding: 18px;
    }
    .report_image_outer{
        margin-top: 20px ;
    }
    .badrequest_img{
    object-fit: contain;
    height: 227px;
    width: 100%;
}
.report_diagram{
    width: 100%;
  } 
.report_content_outer {
padding: 16px;
}
.report_zone_heading {
font-size: 13px;
}
}