
.select_plan_outer {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.submit_plan_btn{
    width: 139px;
    height: 38px;
}

.select_btn{
    width: 92px;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 6px;
    color:#4B465C
}

.cmn_status_text{
    padding: 7px 17px;
    border-radius: 4px;
    margin-left: 31px;
    font-size: 14px;
     font-weight: 600;
}

.table_plan td{ 
 padding: 20px !important;
    
}
.table_plan  h6{
    margin-bottom: 0px !important;
    line-height: 30px;
    font-size: 15px;
    color: #6f6b7d;
}
.table_plan tr td:nth-child(2){ 
    
    color: #A8AAAE;
    font-weight: 400;
    font-size: 14px;
  }
  .table_plan tr td:first-child{ 
    color:  #6f6b7d;
    font-weight: 600;
    font-size: 16px;
  }
  .table_plan thead tr th{ 
    color:  #4B465C;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 20px;
    vertical-align: middle;
  }
  .Search_plans_input::placeholder{
    color: #A8AAAE;
  }
.dashboardmenu_container{
    height: 100%;
    min-height: 100vh;
}
.dashboard_container{
    min-height: 100vh;
    height: 100%;
}
.actions_wrapper svg{
    color:  #4B465C;
}

.table_plan thead tr{
    border-top: 1px solid #ddd;
}
/* dashboard menu-------------------------------------------------- */
.submit_plan_heading{
    color: #B7B5BE;
}
.drop_file_input{
    display: none;
}
.trash-icon{
    cursor: pointer;
}
.drop_file_wrapper{
    width: 100%;
    border: 1px dashed #ddd;
    padding: 40px;
    margin-top: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.file_upload {
    width: 50px;
    height: 50px;
    background: #f1f0f2;
    border-radius: 6px;
    text-align: center;
    padding-top: 12px;
}
.file_upload svg{
    font-size: 20px;
}
h3.drop_file_text{
    font-weight: 600;
}


button.review_btn {
    color: #7367F0;
    border: 1px solid #7367F0;
    border-radius: 6px;
    padding: 5px 20px;
    background: white;
}
.submit-Plan_btn{
padding:7px 20px;
}
.review_btn_outer {
    padding:20px;
}
.Plan_Details_heading {
    color: #4B465C;
    font-size: 18px;
    font-weight: 600;
}
.no_plan_img{
    height: 400px;
    width: 400px;
}

@media screen and (min-width:1900px) {
    .no_plan_img {
        height: 520px;
        width: 520px;
    }
}
@media screen and (min-width:1536px){
   
    .Plan_Details_heading {
        font-size: 22px;
    }
    .plan_name_heading{
    padding-left: 0px !important;
    }
  
    .table_plan thead tr th {
        padding: 10px 40px
    }
    .table_plan td{
        padding: 20px 40px !important;
    }
    .select_plan_outer {
        padding: 25px 40px;
    }
    .table_plan h6 {
        font-size: 18px;
    }
    .table_plan tr td:first-child {
        font-size: 20px ;
      }
      .table_plan tr td:nth-child(2){
        font-size: 20px ;
      }
      .cmn_status_text {
      font-size: 20px;
    }
    .Search_plans_input{
      font-size: 20px;
    }
    .submit_plan_btn {
      width: 200px;
      height: 44px;
      font-size: 20px;
    }
}


@media screen and (max-width:767px){
    .search_plan_wrapper.d-flex.gap-3 {
        margin-top: 20px;
    }
    .select_plan_outer{
        flex-wrap: wrap;
    }
    label#drop_file{
        padding: 20px;
    }
    .table_plan tr td:first-child {
        font-size: 14px
    }
    .table_plan h6{
        font-size: 14px;
        line-height:23px
    }
    .submit_plan_btn {
        width: 134px;
        font-size: 14px;
    }
    .submit-Plan_btn {
        font-size: 14px;
    }
    button.review_btn {
        font-size: 14px;
    }
    .Plan_Details_heading {
        font-size: 16px;
    }
    .plan_tabular_data{
        scrollbar-width: thin;
    }
    img.no_plan_img {
        width: 100%;
    }
    .drop_file_text.mt-3 {
        font-size: 16px !important;
    }
}